main {
  margin-top: 0;
}

.sectionFirst {
  padding: var(--space-xxxlarge) var(--space-medium) var(--space-xlarge);
}

.sectionFirst h1 {
  font-family: var(--lalezar-font);
  font-size: var(--space-large);
  text-transform: uppercase;
  line-height: 1;
  color: var(--black);
  margin-bottom: var(--space-large);
}

.sectionFirst > p {
  text-align: center;
  color: var(--black);
}

.sectionFirst > p:first-of-type {
  font-size: 18px;
  line-height: 1.4;
  max-width: 500px;
  margin: 0 auto var(--space-large);
}

.sectionFirst > p:last-of-type {
  font-size: 70px;
  line-height: 1;
}

.sectionFAQ {
  margin-bottom: var(--space-xxlarge);
}

.sectionFAQ details {
  border-bottom: 2px solid var(--red);
  padding: var(--space-small) 0;
}

.sectionFAQ details div {
  margin-block: var(--space-medium);
  font-family: var(--inter-font);
}

.sectionFAQ details ul {
  margin-block: var(--space-small);
}

.sectionFAQ summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--space-medium);
  color: var(--black);
}

.sectionFAQ summary::-webkit-details-marker {
  display: none;
}

.sectionFAQ summary::after {
  content: "+";
  font-size: 24px;
  padding-right: var(--space-medium);
}

.sectionFAQ details[open] summary::after {
  content: "-";
  padding-right: var(--space-medium);
}

.sectionFAQ .content {
  padding-top: var(--space-small);
  padding-bottom: var(--space-small);
  line-height: 1.5;
  font-size: 15px;
  color: var(--black);
}

/* Formular */
.contact-section {
  padding: var(--space-xxxlarge) var(--space-medium) var(--space-xlarge);
}

.contact-section h1 {
  font-family: var(--lalezar-font);
  font-size: var(--space-large);
  text-align: center;
  color: var(--black);
  margin-bottom: var(--space-medium);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-family: var(--lalezar-font);
  font-size: var(--space-medium);
  color: var(--black);
}

.contact-form input {
  border: none;
  border-bottom: 2px solid var(--red);
  background: transparent;
  height: 35px;
  margin-bottom: var(--space-large);
  outline: none;
  font-size: 18px;
}

.contact-form textarea {
  border: 2px solid var(--red);
  background: transparent;
  height: 180px;
  resize: none;
  margin-bottom: var(--space-large);
  outline: none;
  font-size: 18px;
  padding: var(--space-small);
}

.contact-form button {
  width: 120px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  padding: var(--space-small) 0;
  font-size: 16px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .grid-1-1-kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .grid-1-1-kontakt > div {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .grid-1-1-kontakt img {
    width: 100%;
    height: 1100px;
    object-fit: cover;
    display: block;
  }

  .sectionFirst {
    padding: var(--space-xxxlarge) var(--space-xxlarge) var(--space-xxlarge);
  }

  .sectionFirst h1 {
    font-size: var(--space-large);
    margin-bottom: var(--space-large);
    letter-spacing: 5px;
  }

  .contact-section h1 {
    letter-spacing: 5px;
  }

  .sectionFAQ {
    max-width: 1100px;
    margin-bottom: var(--space-xxxlarge);
  }

  .sectionFAQ summary {
    font-size: var(--space-medium);
  }

  .sectionFirst > p:first-of-type {
    font-size: 26px;
    max-width: 480px;
  }

  .sectionFirst > p:last-of-type {
    font-size: 90px;
  }

  .contact-section {
    padding: var(--space-xxxlarge) var(--space-xlarge) var(--space-xlarge);
  }

  .contact-form {
    max-width: 700px;
  }

  .contact-form label {
    font-size: 25px;
  }

  .contact-form button {
    width: 195px;
    font-size: var(--space-medium);
  }
}
