.grid1-1 {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0;
}

.product-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100%;
}

.product-imgs div {
  width: 100%;
  aspect-ratio: 4/5;
  background-color: var(--white);
  overflow: hidden;
}

.product-imgs img {
  height: 100%;
  object-fit: cover;
}

.product-description {
  padding: var(--space-large) var(--space-medium);
}

.product-description h1 {
  font-size: 42px;
  letter-spacing: 2px;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
}

.product-description .price {
  text-align: center;
  font-size: 28px;
  margin: var(--space-medium) 0 var(--space-large);
}

.product-description > p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: var(--space-medium);
}

.product-description button {
  width: 100%;
  background-color: var(--red);
  color: var(--white);
  border: none;
  padding: var(--space-small);
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: var(--space-medium);
  cursor: pointer;
}

.singleproduct-info {
  margin-bottom: var(--space-small);
}
.product-description #single-navn {
  place-self: center;
}
.product-description .price {
  place-self: center;
}

details {
  border-bottom: 1px solid var(--red);
  padding: var(--space-xs) 0;
  font-size: 13px;
}

summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "+";
  padding-right: var(--space-medium);
}

details[open] summary::after {
  content: "-";
  padding-right: var(--space-medium);
}

.content {
  padding: var(--space-small) 0;
  line-height: 1.4;
}

section.others {
  padding: var(--space-large) var(--space-medium) var(--space-xlarge);
}

section.others > h1 {
  color: var(--red);
  font-size: 28px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: var(--space-medium);
}

.others .product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-large);
}

.similar-product-card img {
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.similar-product-text {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-small);
  font-family: var(--lalezar-font);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.similar-product-card .product-link {
  display: inline-block;
  margin-top: var(--space-xs);
  color: var(--black);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .grid1-1 {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    align-items: start;
  }

  .product-description {
    /* padding: var(--space-xxxlarge) var(--space-xxxlarge) 0 var(--space-large); */
    padding-top: var(--space-xxxlarge);
    padding-inline: var(--space-xxlarge);
    border-top: none;
  }

  .product-description h1 {
    font-size: 48px;
    text-align: left;
    letter-spacing: 5px;
  }

  .product-description .price {
    text-align: left;
    margin-bottom: var(--space-large);
  }

  section.others {
    max-width: 1200px;
    margin: 0 auto var(--space-xlarge);
    padding: var(--space-xlarge) 0 0;
  }

  section.others > h1 {
    font-size: 90px;
    text-align: left;
    letter-spacing: 5px;
  }

  .product-description > p {
    font-size: 20px;
    margin-bottom: var(--space-medium);
  }

  .size {
    font-size: 24px;
  }

  summary::after,
  details[open] summary::after {
    font-size: var(--space-medium);
  }

  details {
    border-bottom: 2px solid var(--red);
  }

  .others .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .similar-product-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.2rem;
  }
}
